# Secrets ( should be at least 32 chars long) use `openssl rand -base64 32` or equivalent for secret generation
JWT_SECRET=test-only-secret-key-do-not-use-in-production-32chars-min
HMAC_SECRET=test-hmac-for-fake-key-generation-do-not-use-outside

# Server mode
IS_SINGLE_USER=false

# Database Connection
POSTGRES_DB=CacheIt
POSTGRES_USER=CacheItApp
POSTGRES_PASSWORD=CacheItAppPassword123!
